{% extends 'base.html.twig' %}

{% block body %}
<div class="header">
    Welcome to SymfonyTn.
</div>

<div class="content">
    Page Content.
</div>
<div class="footer">
    Page Footer
</div>
{% endblock %}